/****** PLACE YOUR CUSTOM STYLES HERE ******/
.menu > li > ul li a {
	color: #292929;
}
a .dark-text{
	color: #292929;
}
.padded{
	padding: 8px;
}
.emphasise{
	font-size: 3em;
}
.photo-attribution{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  color: white;
}
.photo-attribution a{
  color: white;
}